<div class="navbar">
    <img src="logo.png" class="logo">
    <ul class="nav-items">
      <li><a href="/profile/<%= user._id %>">Profile</a></li>
      <li><a href="#">Attendance</a></li>
      <li><a href="/exams/<%= user._id %>">Exams</a></li>
      <li><a href="#">Announcements</a></li>
      <li><a href="#">Predictions</a></li>
      <li><a href="#">CV Maker</a></li>
    </ul>
  </div>

  <!-- <div class="navbar">
    <img src="logo.png" class="logo">
    <ul class="nav-items">

      <li><a href="#">Attendance</a></li>
      <li><a href="/exams">Exams</a></li>
      <li><a href="#">Announcements</a></li>
      <li><a href="#">Predictions</a></li>
      <li><a href="#">CV Maker</a></li>
    </ul>
  </div> -->
  